.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.everything {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background: linear-gradient(to bottom right, black 0%, white 50%, white 100%), black;

  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  color: black;
  border: solid black;
  font-size: 40px;
  animation-name: color-animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  margin: 10px;
  padding: 10px

}

@keyframes color-animation {
  0% {
     background: #eaebd7;
  }
  50% {
     background: #e7e787;
  } 
  100% {
     background: #eaebd7
  } 
}

    /* Button CSS */
    .button-container {
      padding: 25px
    }

    .button-89 {
      --b: 3px;  
      --s: .45em; 
      --color: #373B44;
  
      padding: calc(1.4em + var(--s)) calc(1.5em + var(--s));
      color: var(--color);
      --_p: var(--s);
      background:
        conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
        var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
      transition: .3s linear, color 0s, background-color 0s;
      outline: var(--b) solid #0000;
      outline-offset: .6em;
      font-size: 16px;
      border: 0;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    .button-89:hover,
    .button-89:focus-visible{
      --_p: 0px;
      outline-color: var(--color);
      outline-offset: .05em;
    }

    .button-89:active {
      background: var(--color);
      color: white;
    }

    .screenshot {
      width: 100%;
      border: 2px solid black
    }

    .project-buttons {
      display: flex;
      justify-content: center;
      margin: 40px;

    }
    
    .button-inanimatees {
      width: 100px; 
      height: 50px;
      border-radius: 25px;
      margin: 0 10px;
      background-color: rgb(114, 218, 234);
      border: 2px solid black;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
    
    .button-inanimatees.selected {
      background-color: black;
      color:  rgb(114, 218, 234);
    }

    .button-retrogaming {
      width: 100px; 
      height: 50px;
      border-radius: 25px;
      margin: 0 10px;
      background-color: rgb(244, 155, 155);
      border: 2px solid black;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
    
    .button-retrogaming.selected {
      background-color: black;
      color: rgb(244, 155, 155);
    }

    .button-epitome {
      width: 100px; 
      height: 50px;
      border-radius: 25px;
      margin: 0 10px;
      background-color: rgb(164, 235, 142);
      border: 2px solid black;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
    
    .button-epitome.selected {
      background-color: black;
      color: rgb(164, 235, 142);
    }

    .project-container {
      display: flex;
      justify-content: space-between;
      margin: 50px 5%;
      padding-bottom: 40px

    }
    
    .project-container > div {
      width: 45%;

    }
    
    .content-description {
      font-size: 20px;

    }

    .project-title {
      font-size: 40px;
      padding: 7px;
      border: 2px solid black;
      background-color: #b2e1ea;
      
    }

    .project-intro {
      margin: 30px;

    }

    .project-description {
      text-align: left;
      background: linear-gradient(to right, rgba(215, 215, 215, 0), rgba(215, 215, 215, 1), rgba(215, 215, 215, 0));

    }
    

    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      padding: 20px;
      text-align: center;
      margin-top: 20px;
    }
    
    
    




    
    
    